{% extends 'admin/adminbase.html' %}

{% block title %}

{% endblock %}


{% block content %}
<div class="container-fluid table-responsive">
    <div class="row">
        <div class="row">
            <div class="col-md-12 text-start mt-2">
                <a href="{{url_for('admin_dashboard')}}"><button class="mb-3 btn btn-dark">Return To Dashboard</button></a>
                {% with m = get_flashed_messages() %}
				{% for i in m %}
				<p class="fw-4">{{i}}</p>
				{% endfor %}
				{% endwith %}
            </div>
            <div class="col-md-12">
                <h1 class="text-center">ALL ORDERS</h1>
            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <table class="table table-primary table-striped table-hover">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in admorder %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{k.order_product_date}}</td>
                            <form action="{{url_for('update_status')}}" method="POST">
                            <td>
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                <input type="hidden" name="productid" value="{{k.order_productid}}">
                                <select name="status">
                                    <option value="{{k.order_status}}">{{k.order_status}}</option>
                                    <option value="processing">processing</option>
                                    <option value="completed">completed</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" id="status" class="btn btn-warning">Update</button>
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
