{% extends 'admin/adminbase2.html' %}

{% block title %}
    HolaCakes|Admin_Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 m-2 p-2" id="admindashboardsidebar">
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_product')}}"><i class="fa-brands fa-product-hunt"></i> Products</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_categories')}}"><i class="fa-solid fa-filter"></i>Categories</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_images')}}"><i class="fa-solid fa-image"></i> Profile Pictures</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_user')}}"><i class="fa-solid fa-users"></i> Users</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_orderproduct')}}"><i class="fa-solid fa-arrow-down-short-wide"></i> Order Products</a></strong></p>
            <p class="admindashboardsidebar"><a href="{{url_for('admin_orderdetail')}}"><strong><i class="fa-solid fa-circle-info"></i> Order Details</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_delivery')}}"><i class="fa-solid fa-truck"></i> Delivery</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_reviews')}}"><i class="fa-solid fa-star"></i> Reviews</a></strong></p>
            <p class="admindashboardsidebar"><strong><a href="{{url_for('admin_payment')}}"><i class="fa-solid fa-credit-card"></i> Payment</a></strong></p>
        </div>
        <div class="col-md-9 mt-5 mb-5">
            <div class="row">
                <div>
                {% with m = get_flashed_messages() %}
				{% for i in m %}
				<p class="fw-4">{{i}}</p>
				{% endfor %}
				{% endwith %}
                </div>
                <div class="col-md-3 p-2 mb-2" id="products">
                    <h4><i class="fa-brands fa-product-hunt"></i> ({{allprod|length}}) Products</h4>
                    <a href="{{url_for('admin_product')}}"><button class="btn" id="prodbut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="prodcat">
                    <h4><i class="fa-solid fa-filter"></i> ({{category|length}}) Categories</h4>
                    <a href="{{url_for('admin_categories')}}"><button class="btn" id="catbut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="prodImg">
                <h4><i class="fa-solid fa-image"></i> ({{img|length}}) Profile Pitures</h4>
                   <a href="{{url_for('admin_images')}}"><button class="btn" id="imgbut">View Details</button></a> 
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-3 p-2 mb-2" id="OrderProd">
                    <h4><i class="fa-solid fa-arrow-down-short-wide"></i> ({{admorder|length}}) Order Products</h4>
                    <a href="{{url_for('admin_orderproduct')}}"><button class="btn" id="ordbut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="orderDtl">
                    <h4><i class="fa-solid fa-circle-info"></i> ({{det|length}})  Orders Detail</h4>
                    <a href="{{url_for('admin_orderdetail')}}"><button class="btn" id="orddtlbut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="delivery">
                    <h4><i class="fa-solid fa-truck"></i> ({{delv|length}}) Delivery</h4>
                    <a href="{{url_for('admin_delivery')}}"><button class="btn" id="deldbut">View Details</button></a>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-md-3 p-2 mb-2" id="paymenti">
                    <h4><i class="fa-solid fa-credit-card"></i> ({{owo|length}})  Payment</h4>
                    <a href="{{url_for('admin_payment')}}"><button class="btn" id="paybut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="reviews">
                    <h4><i class="fa-solid fa-star"></i> ({{rev|length}}) Reviews</h4>
                    <a href="{{url_for('admin_reviews')}}"><button class="btn" id="revbut">View Details</button></a>
                </div>
                <div class="col-md-3 p-2 mb-2" id="users">
                    <h4><i class="fa-solid fa-users"></i> ({{user|length}})  Users</h4>
                    <a href="{{url_for('admin_user')}}"><button class="btn" id="userbut">View Details</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}